@model IEnumerable<CovidTrackerApp.Models.DailyDataRow>

@{
    ViewData["Title"] = "Covid Data";
}

@{
    int id = 1;
}

<div class="form-horizontal">
    <hr />
    <div class="form-group">

        <table class="table table-responsive" id="dataTable">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.state)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.positive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.negative)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.pending)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.totalTestResults)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.hospitalizedCurrently)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.hospitalizedCumulative)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.death)
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @{
                            item.Id = id;
                        }
                        @Html.DisplayFor(modelItem => item.Id)
                        @{
                            id++;
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.date)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.state)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.positive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.negative)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pending)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.totalTestResults)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.hospitalizedCurrently)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.hospitalizedCumulative)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.death)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
